<div class="Row">

  <div >
    <form name="form" #f = "ngForm" (ngSubmit)="f.form.valid && saveCategory(this.category, this.f)" novalidate class="saveCategory"
    >
      <div class="form-group">
        <input  [(ngModel)]="category.name"
                name="name"
                type="text"
                class="form-control"
                id="categoryName"
                placeholder="Enter name"
                #name = "ngModel"
                [ngClass]="{'is-invalid': f.submitted && name.invalid}"
                required
                minlength="3">
        <!-- input validation group -->
        <div *ngIf="f.submitted && name.invalid"class="invalid-input">
          <!--invalidual validation error -->
          <div *ngIf="name.errors?.minlength" >The name should be longer</div>
        </div>
      </div>

          <div class="b-save"><button type="submit" class="btn btn-primary" style="margin-left: 300px;margin-top: -96px;" >Save</button></div>
        <div class="mess-g"><p>{{message1}}</p></div>
        <div class="mess-r"><p>{{message2}}</p></div>
    </form>
  </div>
  <div >


    <table class="table">
      <thead>
      <tr>
        <th scope="col">Categories</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td><input  [(ngModel)]="category.name" (change)="updateCategory(category)"  class="form-control"/></td>
        <button type="button" class="btn btn-outline-danger" (click)="deleteCategory(category)">Delete</button>
      </tr>
      <tr>

      </tbody>
    </table>
  </div>
</div>


