.Row  {
  margin-top: 30px;
  width: 100%;
}
.saveCategory{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.form-group {
  width: 50%;
}
.table{
  width: 40%;
  margin-left: auto;
  margin-right: 50px;
}
.btn-outline-danger{
  margin-top: 11%;
}
.mess-g{
  color: green;
}
.mess-r{
  color: red;
}
.form-group > div{
  float: left;
  width: 40%;
  margin-right: 2%;
}

