.Row > div {
  margin-top: 30px;
  float: left;
  width: 40%;
  margin-right: 5%;
}
.saveCategory > div{
  float: left;
  margin-right: 5%;
}
.b-save{
  margin-top: 7%;
}
.form-group {
  width: 70%;
}
.btn-outline-danger{
  margin-top: 11%;
}


