
.dropdown {
  display: flex;
  flex-direction: row;
}

#login_button {
  margin-right: 10px;
  background: none;
  border: 2px solid #74b9ff;
  color: #fff;
}

#signup_button{
  background: none;
  border: 2px solid #00cec9;
}

#sign_up_menu {
  display: flex;
  flex-direction: row;
  right: 10px;
  position: absolute;
}

.dropdown-menu {
  box-sizing: border-box;
  padding-bottom: 0;
}

.sign_up_title_cont {
  position: relative;
  padding: 0;
  margin: 0;
}

.sign_up_title{
  font-size: 20px;
}

.sign_up_form_wrapper {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.su_form {
  width: 230px;
  border-radius: 0;
  margin-top: 0px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.su_button_cont{
  width: 100%;
}
.su_button{
  height: 50px;
  border-radius: 0;
  width: 100%;
  bottom: 0;
  position: relative;
}


