
<div class="jumbotron">
  <div id="jumbotrondiv1">
  <h1>Expenses:</h1>
  <ul>
    <li *ngFor="let expense of expenses">
   {{expense.description}}
    </li>
  </ul>
  </div>
  <div id="jumbotrondiv2">
    <h1>Categories:</h1>
    <ul>
      <li *ngFor="let category of categories">
        {{category.name}}
      </li>
    </ul>
  </div>
  <div id="video">
    <iframe width="780" height="370"
            src="https://www.youtube.com/embed/OXzuTHKv22s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
</div>
