
<div class="wrapper">
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle dropdown_expense" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add expense
  </button>
  <div class="dropdown-menu dropdown">
    <b>
      <p class="expense_title">Add expense</p>
    </b>
      <form (ngSubmit)="saveExpense(this.expense)" class="border border-light p-5 expense_form">
        <input type="text" [(ngModel)]="expense.description" name="description" id="titleInp" class="form-control mb-4 expense_inp" placeholder="Description">
        <input type="date" [(ngModel)]="expense.expenseDate" name="expenseDate" id="dateInp" class="form-control mb-4 expense_inp" placeholder="Date">
        <select [(ngModel)]="expense.categoryId" name="categoryId" class="browser-default custom-select mb-4 expense_inp" placeholder="Category" id="select">
          <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
        <input type="text" [(ngModel)]="expense.location" name="location" id="locationInp" class="form-control mb-4 expense_inp" placeholder="Location">
        <button class="btn btn-info btn-block my-4" type="submit">Save</button>
      </form>
  </div>
</div>

<div class="table_cont">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Location</th>
      <th scope="col">ExpenseDate</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{expense.id}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.categoryId}}</td>
      <td>{{expense.location}}</td>
      <td>{{expense.expenseDate}}</td>
      <button type="button" class="btn btn-outline-danger" (click)="deleteExpense(expense)">Delete</button>
    </tr>
    <tr>
    </tbody>
  </table>
</div>
</div>
